:host {
    display: block;

.form{
    button{
        margin-left: 10px;
    }
}

    @keyframes loading-animation {
        0% {
            opacity: 1;
        }
        50%{
            opacity: 0.25;
        }
        100% {
            opacity: 1;
        }
    }

    .loading {
        animation: loading-animation 1.5s ease-in-out;
        animation-iteration-count: infinite;
    }
}
