:host{
    display: block;

    $margin: 20px;
    $padding: 20px;

    margin: $margin $margin $margin $margin;
    padding: $padding;
    width: calc(100% - (#{$margin} * 2)) ;
    height: calc(90% - (#{$margin} * 2)) ;
    display: flex;
    justify-content: center;

    border: 1px solid gray;
    background-color: gray;
}